// Navigation Bar 
@use "./variables" as *;

nav{
    display: flex;
    li{
        margin: 2rem;
    }
}

.findOutMore{
    text-transform: uppercase;
    width: 10%;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $darkerGreenTone;
}

.readMore{
    text-transform: uppercase;
    width: 10%;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $darkerGreenTone;
}