@use "variables" as*;

html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body{
    font-family: $bodyFontFam;
    font-size: $sixthFontSize20;
    color: $blackTone;
    line-height: $secondaryLineHeight32;
}

.wrapper{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1{
    font-size: $primaryFontSize138;
    font-family: $primaryFontFam;
    font-weight: 700;
    text-align: center;
}

h1,ul,li,a{
    margin: 0;
    padding: 0;
}

blockquote{
    margin-left: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

img {
    display: block;
     width: 100%;
}