@use "variables" as*;

// General Styling
html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body{
    font-family: $bodyFontFam;
    font-size: $sixthFontSize20;
    color: $blackTone;
    line-height: $secondaryLineHeight32;
}

.wrapper{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1{

}

h1,ul,li,a{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}
