@use "../abstract/variables" as *;

// General 
    html {
        font-size: 62.5%;
        padding: 0;
        margin: 0;
    }

    body{
        font-family: $bodyFontFam;
        font-weight: 400;
        font-size: $sixthFontSize20;
        color: $blackTone;
        line-height: $secondaryLineHeight32;
        background-color: $whiteTone;
    }

// Headings 
    h1,h2,h3,h4 {
        font-family: $primaryFontFam;
        text-transform: uppercase;
    }

    h1{
        font-size: clamp(2rem, 13vw, 18rem);
        font-weight: 700;
        font-style: italic;
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0;
    }

        .secondH1 h1 {
            font-size: clamp(1rem, 10vw, 14rem);
            line-height: $primaryLineHeight92;
            text-transform: uppercase;
        }

    h2{
        font-size: $thirdFontSize42;
        letter-spacing: $primaryLetterSpacing1;
    }

    h3{
        font-size: $fourthFontSize32;
        letter-spacing: $primaryLetterSpacing1;
        margin:0;
    }

    h4{
        font-size: $fifthFontSize26;
        letter-spacing: $secondaryLetterSpacing;
    }
    
    // General paragraph
    p{
        line-height: $secondaryLineHeight32;
        letter-spacing: 1.1px;
    }

    footer {
        p{
        color: $whiteTone;
        }
    }



