@use "../abstract/variables" as *;

// Media Query Mixins 
        @media (max-width: 1200px) {
            header h1{
                   font-size: 10rem;
                }   
            }

        @media (max-width: 850px) {
            // Index Header
            header{
                background-color: $whiteTone;
                h1{
                    top: 0.5em;
                    left: 0;
                }
            }
            header ul{
                  
                                  background-color: red;
                                  visibility: hidden;
            }
            .hamburgerMenu .dropdownMenu{
                
                                visibility: visible;
                                width: 100%;
                                position: absolute;
                                    z-index: 30;
                            
            }
            .headerImg {
                visibility: hidden;
            }                   
            // .headerBoxContainer {
            //     z-index: 0;
            // }
    
        // What is captured? 
            .capturedInfo {
                padding-top: 0;
            }
            .capturedContent{
                z-index: 20;
            }

        // Blog Section 
        .topRowBlogContainer, .bottomRowBlogContainer {
            flex-direction: column;
            .blogImg {
                position: static;
                img{
                    position: static;
                }
            }
        }
        .contentContainer p{
            text-align: center;
        }

        .linkContainer {
            width: 100%;
        }
    }

        @media (max-width: 500px) {
            
        }

        @media (max-width: 320px){
           
        }


   

