@use "../../partials/variables" as *;

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    .image1Container {
        max-width: 100%;
        img{
            width: 100%;
        }
    }

    .image2Container{
        max-width: 100%;
        img{
            width: 100%;
        }
    }
}