@use "../../partials/variables" as *;

.infoLinksContainer{
    background-color: $lighterGreenTone;
    display: flex;
    flex-wrap: wrap;
    .topPicksContainer,.communityContainer,.blogLinkContainer,.getInTouchContainer{
        display: flex;
    }
}