@use "../../partials/variables" as *;

.capturedInfo {
    max-width: 100%;
    height: 60vh;
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    .wrapper{
        flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                width: 70%;
            }
            a{
                margin-top: 1%;
            }
    }
    h2{
        text-align: center;
    }
}