@use "../abstract/variables" as *;

body {
    background-color: $lighterGreenTone;
}

// Main Blog Content Container 
.bigBlogContentContainer {
    display: flex;
        flex-basis: 45%;
    position: absolute;
        top: 60rem;
}


// Section 1 - Left Side
    // Aside Section 
    .asideContainer {
            padding-left: 5%;
            margin-top: 28%;
    }
        .asideSideInfoBox{
            background-color: magenta;
            width: 80%;
            flex-direction: column;
            position: relative;
            .asideImageContainer{
                position: absolute;
                left: -8rem;
                width: 100%;
            }
        }
        .asideContentContainer {
            background-color: red;
            max-width: 40%;
            display: flex;
                flex-direction: column;
                justify-content: center;
            padding-left: 2%;
                padding-right: 1%;
                padding-bottom: 2%;
            
            ul{
                display: flex;
                flex-direction: column;
                li{
                    list-style-type: circle;
                    list-style-position: inside;
                }
            }
        }

// Section 2 - Right Side 
    // Content Container 
    .contentContainer {
        display: flex;
            flex-direction: column; 
            .wrapper {
                display: flex;
                    flex-direction: column;
                margin-left: -1rem;
            }
    }

    //Blog Content Section 
     .blogContentSection {
        width: 100%;
        padding-left: 5%;
            padding-top: 5%;
            padding-bottom: 2%;
        border-left: $yellowTone 5px solid;
            border-bottom: $yellowTone 5px solid;
            .headingInfo{
                margin-bottom: 3%;
            }
            h2{
                margin-bottom: 1%;
            }
     }

    // Comments Section
    .commentsContainer{
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 3%;
        .comment {
            display: flex;
                align-content: space-between;
            padding-top: 3%;
            .commentContent {
                flex-basis: 90%;
                margin-left: 5%;
                aside {
                    margin-top: 0;
                }
            }
        }
        .comment2{
                margin-top: 5%;
            }
    }

        blockquote{
        margin-left: 0;
        }