@use "../abstract/variables" as *;

body {
    background-color: $lighterGreenTone;
}


// Information and Social Media Section
.generalInfoContainer{
    padding-top: 7%;
    padding-bottom: 10%;
    .wrapper {
        flex-direction: column;
    }
    .socialMediaContainer{
        display: flex;
        a{
            margin-right: 2%;
            display: flex;
            color: $blackTone;
            &:hover, &:focus {
                transition: 0.2s;
                transform: scale(1.5);
            }
        }
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
    }
    .infoEmail{
        font-family: $primaryFontFam;
        font-size: $fifthFontSize26;
        text-transform: uppercase;
    }
    // flex-direction: column;
}

