@use "../abstract/variables" as *;

// What is Captured Section
    .capturedInfo {
    background-color: $lighterGreenTone;
    max-width: 100%;
    padding-top: 100px;
        padding-bottom: 50px;
    display: flex;
    align-items: center;
        .capturedContent{
            margin-top: 11%;
                margin-bottom: 8%; 
        }
        .wrapper{
            flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    width: 70%;
                }
                a{
                    margin-top: 1%;
                }
        }
        h2{
            text-align: center;
        }
    }


// Blog Container

    .blogContainer {
        display: flex;
            flex-direction: column;
        .topRowBlogContainer{
            display: flex;
            // justify-content: flex-end;
            margin-bottom: 4%;
            .blogImg {
                position: relative;
                flex-basis: 40%;
            }
            .contentContainer{
                margin-left: 17%;
                margin-top: 5%;
                flex-basis: 38%;
                .wrapper{
                    flex-direction: column;
                }
            }
        }
        .bottomRowBlogContainer {
            display: flex;
                flex-direction: row-reverse;
            margin-top: 4%;
            .blogImg {
                position: relative;
                flex-basis: 40%;
                margin-left: 15%;
            }
            .contentContainer{
                flex-basis: 38%;
                margin-top: 5%;
                margin-bottom: 3%;
                .wrapper{
                    flex-direction: column;
                    text-align: end;
                }
            }
            .wrapper p{
                text-align: left;
            }
        }
    } 
        


// Information Links Container
    .infoLinksContainer{
        background-color: $lighterGreenTone;
        .linkGallery{
            // width: calc((100% / 2) - 20px);
            display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
            .linkContainer{
                flex-basis: 48%; 
            }
        }

    }


// This Month's Profile Container
    .thisMonthsProfile {
        display: flex;
        height: auto;

        align-items: center;
        .wrapper {
            justify-content: space-around;
            .profileImageContainer {
                max-width: 100%;
                flex-basis: 40%;
            }
            .profileContentContainer {
                max-width: 100%;
                flex-basis: 80%;
                padding-left: 8rem;
                // display: -webkit-box;
                //     -webkit-line-clamp: 18;
                //     -webkit-box-orient: vertical;
                //     overflow: hidden;
            }
        }
    }

// Photo Gallery Section
.photoGallerySection {
    background-color: red;
    display: flex;
        align-items: center;
    .wrapper{
         justify-content: space-between;
         .galleryContainer{
            display: flex;
            flex-basis: 32%;
         }
    }
}