@use "../abstract/variables" as *;

// What is Captured Section
    .capturedInfo {
    background-color: $lighterGreenTone;
    max-width: 100%;
    padding-top: 100px;
        padding-bottom: 50px;
    display: flex;
    align-items: center;
        .capturedContent{
            margin-top: 11%;
                margin-bottom: 8%; 
        }
        .wrapper{
            flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    width: 70%;
                }
                a{
                    margin-top: 1%;
                }
        }
        h2{
            text-align: center;
        }
    }


// Blog Container
    .blogContainer {
        display: flex;
            flex-direction: column;
        .topRowBlogContainer{
            display: flex;
            // justify-content: flex-end;
            margin-bottom: 8%;
            .blogImg {
                position: relative;
                flex-basis: 40%;
            }
            .contentContainer{
                margin-left: 17%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    // is it better to use margin or padding in this situation?
                flex-basis: 38%;
                .wrapper{
                    flex-direction: column;
                }
                    .wrapper p{
                        padding-top: 2%;
                            padding-bottom:2%;
                    }
                    .wrapper a{
                        align-self: flex-start;
                    }
            }
        }
        .bottomRowBlogContainer {
            display: flex;
                flex-direction: row-reverse;
            margin-top: 4%;
            .blogImg {
                position: relative;
                flex-basis: 40%;
                margin-left: 15%;
                margin-top: 4%;
                // is it better to use margin or padding in this situation?
            }
            .contentContainer{
                flex-basis: 38%;
                margin-top: 2%;
                    margin-bottom: 5%;
                    // is it better to use margin or padding in this situation?
                .wrapper{
                    flex-direction: column;
                    text-align: end;
                }
            }
                .wrapper p{
                    // text-align: left;
                    padding-top: 2%;
                        padding-bottom:2%;
                }
                .wrapper a{
                    align-self: flex-end;
                }

        }
    } 
        


// Information Links Container
    .infoLinksContainer{
        background-color: $lighterGreenTone;
        padding-top: 4%;
            padding-bottom: 4%;
        .linkGallery{
            display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
        }

    }

    .linkContainer{
        display: flex;
        width: calc(50% - 50px);
        margin-top: 2%;
            margin-bottom: 2%;
        .linkIcon {
           min-width: 50px;
                max-width: 50px;
            min-height: 50px;
                max-height: 50px;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }   

// This Month's Profile Container
    .thisMonthsProfile {
        background-color: $lighterGreenTone;
        display: flex;
            align-items: center;
        height: auto;
        padding-top: 8%;
            padding-bottom: 8%;
        .wrapper {
            justify-content: space-around;
            .profileImageContainer {
                max-width: 100%;
                flex-basis: 25%;
            }
            .profileContentContainer {
                max-width: 100%;
                flex-basis: 60%;
                padding-left: 5rem;
            }
        }
    }

// Photo Gallery Section
.photoGallerySection {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
        align-items: center;
    .wrapper{
         justify-content: space-between;
         .galleryContainer{
            display: flex;
            flex-basis: 32%;
         }
    }
}