@use "../abstract/variables" as *;

// What is Captured Section
    .capturedInfo {
    background-color: $lighterGreenTone;
    max-width: 100%;
    // height: 60vh;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
        .wrapper{
            flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    width: 70%;
                }
                a{
                    margin-top: 1%;
                }
        }
        h2{
            text-align: center;
        }
    }


// Blog Container
    .blogContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // height: 80vh;
        padding-top: 2vh;
        .blogImg{
            max-width: 100%;
            flex-basis: 30%;
        }
        .contentContainer{
            flex-basis: 40%;
            .wrapper{
                flex-direction: column;
                align-items: flex-end;
            }
        }
        .container1{
            .wrapper{
                align-items: flex-start;
            }
        }
    }

    // .blogImage2Container{
    //         max-width: 100%;
    //         img{
    //             width: 100%;
    //         }
    //     }
    


// Information Links Container
    .infoLinksContainer{
        background-color: $lighterGreenTone;
        .linkGallery{
            // width: calc((100% / 2) - 20px);
            display: flex;
                // flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
            .linkContainer{
                flex-basis: 48%; 
            }
        }

    }


// This Month's Profile Container
    .thisMonthsProfile {
        display: flex;
        height: auto;

        align-items: center;
        .wrapper {
            justify-content: space-around;
            .profileImageContainer {
                max-width: 100%;
                flex-basis: 40%;
            }
            .profileContentContainer {
                max-width: 100%;
                flex-basis: 80%;
                padding-left: 8rem;
                // display: -webkit-box;
                //     -webkit-line-clamp: 18;
                //     -webkit-box-orient: vertical;
                //     overflow: hidden;
            }
        }
    }

// Photo Gallery Section
.photoGallerySection {
    background-color: red;
    // height: 80rem;
    display: flex;
        align-items: center;
    .wrapper{
         justify-content: space-between;
         .galleryContainer{
            display: flex;
            flex-basis: 32%;
         }
    }
}