@use "../abstract/variables" as *;

footer{
    height: 4vh;
    background-color: $blackTone;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Blog Section
    .blogFooter {
        margin:0;
        padding: 0
    }