@use "../abstract/variables" as *;

// General Styling
    ul ,li{
        margin: 0;
            padding: 0;
    }

    ul{
        list-style: none;
        display: flex;
    }

    nav{
        display: flex;
        li{
            margin: 2rem;
        }
    }

// Header Hero Image
    .headerImage{
            max-width: 100%;
        }

// Header Side Box Image (Index)
    .headerBoxContainer{
        position: absolute;
            right: 0;
            bottom: -25rem;
            z-index: 10;
        max-width: 100%;
        width: 48vw;
        border-top: 60px solid $yellowTone;
            border-bottom: 60px solid $yellowTone;
            border-left: 50px solid $yellowTone;
    }

// Header Side Box Image (Body)
    .headerBlogBoxContainer {
        position: absolute;
            right: 0;
            bottom: -25rem;
            z-index: 10;
        max-width: 100%;
        width: 48vw;
        border-top: 60px solid $yellowTone;
            border-bottom: 60px solid $yellowTone;
            border-left: 50px solid $yellowTone;
    }

// Header Link State - Hover/ Focus and Styling
    nav{
        ul{
            display: flex;
            li{
                margin-left: 10rem;
            }
        }
        a{
            font-family: $primaryFontFam;
            font-size: $sixthFontSize20;
            text-align: center;
            line-height: $thirdLineHeight29;
            letter-spacing: $primaryLetterSpacing1;
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s;
            text-align: center;
            text-transform: uppercase;
            color: inherit;
            &:hover, &:focus{
            border-bottom: $darkerGreenTone 3px solid;
            }
        }
    }
    // Home-Index Page Header Elements
    // Contact Page Header Elements 
    // Blog Page Header Elements 
        .headerBlogBoxContainer {
            position: absolute;
                    right: 0;
                    bottom: -25rem;
                    z-index: 10;
                max-width: 100%;
                width: 48vw;
        }

header {
    position: relative;
        h1{
            width: 100%;
            position: absolute;
                bottom: 15rem;
                z-index: 20;
        }
        .wrapper{
            justify-content: end;
            nav{
                max-width: 100%;
                position: absolute;
                top: 3rem;
                right: -2rem;
                z-index: 20;
                a{
                    padding-bottom: 10px;
                }
                // .dropdownMenu {
                //     visibility: hidden;
                //     position: absolute;
                //     right: -70%;
                //     top: 100%;
                //     z-index: 30;
                //     width: 5vw;
                //     height: 7vh;
                //     max-width: 100%;
                //     border:red 5px solid;
                //     i{
                //         width: 100%;
                //         height: 100%;
                //         color: red;
                //         background-color: blue;
                //         position: absolute;
                //         z-index: 30;
                //     }
                }
            }
        }