@use "../abstract/variables" as *;
@use "../abstract/mediaQuery" as *;

// General Styling
    ul ,li{
        margin: 0;
            padding: 0;
    }

    ul{
        list-style: none;
        display: flex;
    }


    // Header Navigation - With Hover/ Focus and Styling

    .linkActive {
    visibility: visible !important;
    display: flex !important;
        flex-direction: column;
    display: -webkit-box !important;
    padding-left: 20px;
        padding-bottom: 10px;
        
    }

    header {
        position: relative;
            h1{
                width: 100%;
                position: absolute;
                    bottom: 0.8em;
                    z-index: 20;
            }
            .wrapper{
                justify-content: end;
                    nav{
                           max-width: 100%;
                            position: absolute;
                            padding-top: 4rem;
                            z-index: 30;
                            display: flex;
                        .desktopNav{
                            display: flex;
                            li{
                                margin-left: 10rem;
                            }
                        }
                        a{
                            padding-bottom: 10px;
                            font-family: $primaryFontFam;
                            font-size: $fifthFontSize26;
                            text-align: center;
                            line-height: $thirdLineHeight29;
                            letter-spacing: $primaryLetterSpacing1;
                            text-decoration: none;
                            cursor: pointer;
                            transition: 0.2s ease;
                            text-align: center;
                            text-transform: uppercase;
                            color: inherit;
                            &:hover, &:focus{
                            border-bottom: $darkerGreenTone 3px solid;
                            color: palevioletred;
                            }
                        }/* a {} ending */
                        .hamburgerMenu {
                                visibility: hidden;
                                right: 5%;
                                top: 50%;
                                width: 5vw;
                                height: 7vh;
                                max-width: 100%;
                                position: absolute;
                                    z-index: 30;
                                .dropdownMenu{
                                    display: flex;
                                    justify-content: flex-end;
                                    i{
                                        position: absolute;
                                        &:hover, &:focus{
                                            color: blue;
                                        }
                                    }
                                }
                        }/* .hamburgerMenu {} Ending */
                    }/* nav {} ending */
            }/* .wrapper ending */
    }/* header {} ending */

    // JS - class that will get added to .desktopNav (@media - max 850px) on click 
//  #linkActive {
//     visibility: visible;
//     padding-right: 20px;
//    }

// Home-Index Page Header Elements
    // Header Side Box Image (Index)
        .headerBoxContainer{
            position: absolute;
                right: 0;
                bottom: -25rem;
                z-index: 10;
            max-width: 100%;
            width: 48vw;
            border-top: 80px solid $yellowTone;
                border-bottom: 65px solid $yellowTone;
                border-left: 65px solid $yellowTone;
        }


// Contact Page and Blog Page H1 
        .secondH1 h1 {
            position: absolute;
            top: 40rem;
        }

  
    


                
               