@use "../abstract/variables" as *;

// General
img {
    display: block;
     width: 100%;
}


// Home Page
    // Blog Section 
    .blogImage1 {
        position: absolute;
            top: -40px;
        box-shadow: 40px 40px 3px $yellowTone;
    }

    .blogImage2{
        position: absolute;
            bottom: -20px;
        box-shadow: -40px 40px 3px $yellowTone;
    }

   .thisMonthImage {
    box-shadow: 40px 40px 3px $yellowTone;
   }



// Blog Page
 .asideImageContainer{
            position: absolute;
            left: -8rem;
            max-width: 100%;
    }

.blogMainImageContainer {
    max-width: 100%;
    padding-left: 3rem;
    img{
        box-shadow: -40px 40px 3px $yellowTone;
    }
}

    // Comment Section
   .commentImageContainer {
    flex-basis: 10%;
   }


