@use "../abstract/variables" as *;

// General 
    a{
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
        margin: 0;
        padding: 0;
    }


// Home Page 
    .findOutMore{
        text-transform: uppercase;
        // min-width: 20px;
        padding: 12px 50px;
        text-align: center;
        display: inline-block;
        background-color: $darkerGreenTone;
        &:hover, &:focus{
            cursor: pointer;
            transition: 0.3s;
        }
    }   

    .readMore{
        text-transform: uppercase;
        padding: 10px 38px;
        text-align: center;
        display: inline-block;
        // min-width: 200px;
        background-color: $darkerGreenTone;
        &:hover, &:focus{
            cursor: pointer;
            transition: 0.3s;
        }
    }


    .linkIcon {
        background-color: $darkerGreenTone;
        height: 100%;
        border-radius: 50%;
        display: flex;
            // justify-content: center;
            flex-basis: 20%;
        padding-top: 1%;
        a{
            text-align: center;
        }
    }

    // Contact Page - Submit 
    button {
        background-color: $darkerGreenTone; /* Green */
        border: none;
        font-family: $primaryFontFam;
        font-size: $sixthFontSize20;
            text-transform: uppercase; 
            text-align: center;
        padding: 10px 50px;
        display: inline-block;
    }

    // Blog Page "Find Out More"
    .aboutCaptured a {
        font-weight: 800 ;
        text-transform: capitalize;
        font-style: italic;
    }