@use "../abstract/variables" as *;

// General 
    a{
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
        margin: 0;
        padding: 0;
    }



    .findOutMore{
        text-transform: uppercase;
        width: 10%;
        min-width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $darkerGreenTone;
    }   

    .readMore{
        text-transform: uppercase;
        width: 10%;
        min-width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $darkerGreenTone;
    }

    // Blog Page "Find Out More"
    .aboutCaptured a {
        font-weight: 800 ;
        text-transform: capitalize;
        font-style: italic;
    }