html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #2C2C2C;
  line-height: 3.2rem;
  background-color: #FAFAFA;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2rem, 13vw, 18rem);
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}

.secondH1 h1 {
  font-size: clamp(1rem, 10vw, 14rem);
  line-height: 9.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  font-size: 2.6rem;
  letter-spacing: 1.1px;
}

p {
  line-height: 3.2rem;
  letter-spacing: 1.1px;
}

footer p {
  color: #FAFAFA;
}

.capturedInfo {
  background-color: #EFFDF3;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.capturedInfo .capturedContent {
  margin-top: 11%;
  margin-bottom: 8%;
}
.capturedInfo .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.capturedInfo .wrapper p {
  width: 70%;
}
.capturedInfo .wrapper a {
  margin-top: 1%;
}
.capturedInfo h2 {
  text-align: center;
}

.blogContainer {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogContainer .topRowBlogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
}
.blogContainer .topRowBlogContainer .blogImg {
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.blogContainer .topRowBlogContainer .contentContainer {
  margin-left: 17%;
  margin-top: 5%;
  margin-bottom: 5%;
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
}
.blogContainer .topRowBlogContainer .contentContainer .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogContainer .topRowBlogContainer .contentContainer .wrapper p {
  padding-top: 2%;
  padding-bottom: 2%;
}
.blogContainer .topRowBlogContainer .contentContainer .wrapper a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.blogContainer .bottomRowBlogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 4%;
}
.blogContainer .bottomRowBlogContainer .blogImg {
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-left: 15%;
  margin-top: 4%;
}
.blogContainer .bottomRowBlogContainer .contentContainer {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.blogContainer .bottomRowBlogContainer .contentContainer .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}
.blogContainer .bottomRowBlogContainer .wrapper p {
  padding-top: 2%;
  padding-bottom: 2%;
}
.blogContainer .bottomRowBlogContainer .wrapper a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.infoLinksContainer {
  background-color: #EFFDF3;
  padding-top: 4%;
  padding-bottom: 4%;
}
.infoLinksContainer .linkGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 50px);
  margin-top: 2%;
  margin-bottom: 2%;
}
.linkContainer .linkIcon {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}
.linkContainer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.thisMonthsProfile {
  background-color: #EFFDF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}
.thisMonthsProfile .wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.thisMonthsProfile .wrapper .profileImageContainer {
  max-width: 100%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.thisMonthsProfile .wrapper .profileContentContainer {
  max-width: 100%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-left: 5rem;
}

.photoGallerySection {
  background-color: #FAFAFA;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photoGallerySection .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.photoGallerySection .wrapper .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

body {
  background-color: #EFFDF3;
}

.generalInfoContainer {
  padding-top: 11%;
  padding-bottom: 10%;
}
.generalInfoContainer .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.generalInfoContainer .socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.generalInfoContainer .socialMediaContainer a {
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2C2C2C;
}
.generalInfoContainer .socialMediaContainer a:hover, .generalInfoContainer .socialMediaContainer a:focus {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.generalInfoContainer .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.generalInfoContainer .infoContainer .infoEmail {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 3%;
}

body {
  background-color: #EFFDF3;
}

.bigBlogContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: absolute;
  top: 60rem;
}

.asideContainer {
  padding-left: 5%;
  margin-top: 25%;
}

.asideSideInfoBox {
  background-color: #FAFAFA;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.asideSideInfoBox .asideImageContainer {
  position: absolute;
  left: -8rem;
  width: 100%;
}

.asideContentContainer {
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2%;
  padding-right: 1%;
  padding-bottom: 2%;
}
.asideContentContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.asideContentContainer ul li {
  list-style-type: circle;
  list-style-position: inside;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contentContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -1rem;
}

.blogContentSection {
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
  border-left: #FDFA69 5px solid;
  border-bottom: #FDFA69 5px solid;
}
.blogContentSection .headingInfo {
  margin-bottom: 3%;
}
.blogContentSection h2 {
  margin-bottom: 2%;
}

.commentsContainer {
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 3%;
}
.commentsContainer .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-top: 3%;
}
.commentsContainer .comment .commentContent {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-left: 5%;
}
.commentsContainer .comment .commentContent aside {
  margin-top: 0;
}
.commentsContainer .comment2 {
  margin-top: 5%;
}

blockquote {
  margin-left: 0;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  header h1 {
    font-size: 10rem;
  }
}
@media (max-width: 850px) {
  header {
    background-color: #FAFAFA;
  }
  header h1 {
    top: 0.5em;
    left: 0;
  }
  header .desktopNav {
    visibility: hidden;
    display: none;
    display: -webkit-box-none;
  }
  header .hamburgerMenu {
    top: 20%;
  }
  header .hamburgerMenu .dropdownMenu {
    visibility: visible;
    width: 100%;
    position: absolute;
    z-index: 30;
  }
  header .headerImg {
    visibility: hidden;
  }
  header .headerBoxContainer {
    bottom: -15rem;
    border-top: 40px solid #FDFA69;
    border-bottom: 30px solid #FDFA69;
    border-left: 30px solid #FDFA69;
  }
  header .wrapper nav .hamburgerMenu {
    top: 20%;
  }
  .capturedInfo {
    padding-top: 0;
  }
  .capturedInfo .wrapper {
    margin-top: 19%;
    margin-bottom: 4%;
  }
  .capturedInfo .capturedContent {
    z-index: 20;
  }
  .blogContainer .topRowBlogContainer {
    margin-bottom: 1%;
  }
  .topRowBlogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topRowBlogContainer .blogImg {
    position: static;
    margin-right: 10%;
    margin-left: 7%;
  }
  .topRowBlogContainer .blogImg img {
    position: static;
  }
  .topRowBlogContainer .container1 {
    margin-top: 20%;
    margin-bottom: 2%;
    text-align: center;
  }
  .linkContainer {
    width: 100%;
  }
  .linkContainer .linkIcon {
    background-color: transparent;
  }
  .linkContainer .linkIcon a i {
    visibility: hidden;
  }
  .linkContainer .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blogContainer .topRowBlogContainer .contentContainer {
    margin-left: 15%;
  }
  .blogContainer .topRowBlogContainer .contentContainer .wrapper a {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blogContainer .topRowBlogContainer .contentContainer h3 {
    margin-top: 5%;
  }
  .blogContainer .topRowBlogContainer .contentContainer p {
    text-align: center;
  }
  .blogContainer .bottomRowBlogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .blogContainer .bottomRowBlogContainer .blogImg {
    position: static;
    margin-top: 0;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  .blogContainer .bottomRowBlogContainer .blogImg img {
    position: static;
  }
  .blogContainer .bottomRowBlogContainer .container2 {
    text-align: center;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .blogContainer .bottomRowBlogContainer .wrapper h3, .blogContainer .bottomRowBlogContainer .wrapper p {
    text-align: center;
  }
  .blogContainer .bottomRowBlogContainer .wrapper a {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .thisMonthsProfile .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thisMonthsProfile .wrapper .profileContentContainer {
    text-align: center;
    padding-left: 0;
  }
  .thisMonthsProfile .profileImageContainer {
    margin-right: 7%;
    margin-left: 3%;
    margin-bottom: 5%;
  }
  .thisMonthsProfile .findOutMore {
    margin-top: 2%;
  }
  .photoGallerySection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photoGallerySection .galleryContainer {
    margin: 5%;
  }
  header .secondH1 h1 {
    top: 10%;
  }
  header .secondH1 h1 span {
    display: block;
  }
  header .contactFormContainer {
    width: 55%;
    padding-top: 0;
    padding-bottom: 1%;
    top: 80%;
    right: 3%;
  }
  header .contactFormContainer .contactFormTopRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 2%;
  }
  header .contactFormContainer .contactFormTopRow #contactEmail, header .contactFormContainer .contactFormTopRow #contactName {
    width: 96%;
  }
  header .contactFormContainer textarea.messageInput {
    margin-bottom: 1%;
    padding-bottom: 0;
    max-height: 30rem;
  }
  header .contactFormContainer .contactMessageButton {
    margin-top: 1%;
  }
  .generalInfoContainer .wrapper {
    padding-left: 4%;
  }
  .generalInfoContainer p {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 1%;
  }
  .bigBlogContentContainer {
    top: 20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 4%;
  }
  .bigBlogContentContainer .asideContainer {
    margin-top: 1%;
  }
  .bigBlogContentContainer .asideSideInfoBox {
    width: 100%;
    margin-right: 5%;
  }
  .bigBlogContentContainer .asideSideInfoBox .asideImageContainer {
    width: 100%;
  }
  .bigBlogContentContainer .blogMainImageContainer {
    margin-left: 7%;
    margin-right: 2%;
  }
  .bigBlogContentContainer .contentContainer .wrapper {
    text-align: center;
    margin-left: 7%;
  }
  .bigBlogContentContainer .commentImageContainer {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .bigBlogContentContainer .commentsContainer .comment {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bigBlogContentContainer .commentsContainer .commentContent {
    width: 90%;
  }
  .blogFooter {
    visibility: hidden;
  }
}
ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linkActive {
  visibility: visible !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box !important;
  padding-left: 20px;
  padding-bottom: 10px;
}

header {
  position: relative;
  /* .wrapper ending */
}
header h1 {
  width: 100%;
  position: absolute;
  bottom: 0.8em;
  z-index: 20;
}
header .wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  /* nav {} ending */
}
header .wrapper nav {
  max-width: 100%;
  position: absolute;
  padding-top: 4rem;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* a {} ending */
  /* .hamburgerMenu {} Ending */
}
header .wrapper nav .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .wrapper nav .desktopNav li {
  margin-left: 10rem;
}
header .wrapper nav a {
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  text-align: center;
  line-height: 2.9rem;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
header .wrapper nav a:hover, header .wrapper nav a:focus {
  border-bottom: #4CEEA7 3px solid;
  color: palevioletred;
}
header .wrapper nav .hamburgerMenu {
  visibility: hidden;
  right: 5%;
  top: 50%;
  width: 5vw;
  height: 7vh;
  max-width: 100%;
  position: absolute;
  z-index: 30;
}
header .wrapper nav .hamburgerMenu .dropdownMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .wrapper nav .hamburgerMenu .dropdownMenu i {
  position: absolute;
}
header .wrapper nav .hamburgerMenu .dropdownMenu i:hover, header .wrapper nav .hamburgerMenu .dropdownMenu i:focus {
  color: blue;
}

/* header {} ending */
.headerBoxContainer {
  position: absolute;
  right: 0;
  bottom: -25rem;
  z-index: 10;
  max-width: 100%;
  width: 48vw;
  border-top: 80px solid #FDFA69;
  border-bottom: 65px solid #FDFA69;
  border-left: 65px solid #FDFA69;
}

.secondH1 h1 {
  position: absolute;
  top: 40rem;
}

footer {
  height: 4vh;
  width: 100%;
  background-color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogFooter {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -200%;
}

.contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 20;
  right: 10rem;
  top: 65rem;
  border-bottom: 40px solid #FDFA69;
  border-left: 40px solid #FDFA69;
  width: 60%;
  padding-left: 3%;
  padding-bottom: 4%;
  padding-top: 4%;
  padding-right: 2%;
  background-color: #FAFAFA;
}
.contactFormContainer .contactFormTopRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 7%;
}
.contactFormContainer .contactFormTopRow .contactName, .contactFormContainer .contactFormTopRow .contactEmail {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.contactFormContainer .contactFormTopRow .contactName:hover, .contactFormContainer .contactFormTopRow .contactName:focus, .contactFormContainer .contactFormTopRow .contactEmail:hover, .contactFormContainer .contactFormTopRow .contactEmail:focus {
  border-bottom: #4CEEA7 7px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contactFormContainer .contactFormTopRow #contactEmail, .contactFormContainer .contactFormTopRow #contactName {
  padding: 20px;
}
.contactFormContainer textarea.messageInput {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: #FAFAFA;
  border: #4CEEA7 3px solid;
  margin-bottom: 3%;
  padding: 20px;
}
.contactFormContainer textarea.messageInput:hover, .contactFormContainer textarea.messageInput:focus {
  border: #4CEEA7 7px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contactName, #contactEmail {
  width: 90%;
  padding-bottom: 2%;
  padding-left: 2%;
  background-color: #FAFAFA;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.blogFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}
.blogFormContainer .blogForm {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.blogFormContainer .blogForm .formTopRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.blogFormContainer .blogForm .formTopRow .nameContainer, .blogFormContainer .blogForm .formTopRow .emailContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#name, #mail {
  background-color: #EFFDF3;
  width: 90%;
  padding: 20px;
  padding-bottom: 2%;
  padding-left: 2%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: #4CEEA7 3px solid;
}
#name:hover, #name:focus, #mail:hover, #mail:focus {
  border-bottom: #4CEEA7 7px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mail {
  margin-left: 10%;
}

textarea.input {
  background-color: #EFFDF3;
  border: #4CEEA7 3px solid;
  width: 100%;
  padding: 20px;
  margin-top: 5%;
}
textarea.input:hover, textarea.input:focus {
  border: #4CEEA7 7px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a {
  fill: #2C2C2C;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
a:hover, a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: red;
}

.findOutMore {
  text-transform: uppercase;
  padding: 12px 50px;
  text-align: center;
  display: inline-block;
  background-color: #4CEEA7;
}
.findOutMore:hover, .findOutMore:focus {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.readMore {
  text-transform: uppercase;
  padding: 10px 38px;
  text-align: center;
  display: inline-block;
  background-color: #4CEEA7;
}
.readMore:hover, .readMore:focus {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.linkIcon {
  background-color: #4CEEA7;
  height: 40px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}
.linkIcon a {
  text-align: center;
  position: absolute;
  top: 8px;
  right: 15px;
}

button {
  background-color: #4CEEA7;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 50px;
  display: inline-block;
}

.contactMessageButton {
  margin-top: 5%;
}
.contactMessageButton:hover, .contactMessageButton:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: green;
}

.aboutCaptured a {
  font-weight: 800;
  text-transform: capitalize;
  font-style: italic;
}

.formButton {
  margin-top: 5%;
}
.formButton button {
  width: 100%;
}
.formButton button:hover, .formButton button:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: green;
}

img {
  display: block;
  width: 100%;
}

.blogImage1 {
  position: absolute;
  top: -40px;
  -webkit-box-shadow: 40px 40px 3px #FDFA69;
          box-shadow: 40px 40px 3px #FDFA69;
}

.blogImage2 {
  position: absolute;
  bottom: -20px;
  -webkit-box-shadow: -40px 40px 3px #FDFA69;
          box-shadow: -40px 40px 3px #FDFA69;
}

.thisMonthImage {
  -webkit-box-shadow: 40px 40px 3px #FDFA69;
          box-shadow: 40px 40px 3px #FDFA69;
}

.asideSideInfoBox .asideImageContainer {
  position: relative;
  left: -8rem;
  max-width: 100%;
}
.asideSideInfoBox .asideImageContainer img {
  position: relative;
  left: 0;
}

.blogMainImageContainer {
  max-width: 100%;
  padding-left: 3rem;
}
.blogMainImageContainer img {
  -webkit-box-shadow: -40px 40px 3px #FDFA69;
          box-shadow: -40px 40px 3px #FDFA69;
}

.commentImageContainer {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}